<h1> String Interpolation </h1>
<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>

<h1> Property Binding </h1>
<input type="text" value="{{stringInterpolation}}">

<input type="text" [value]="stringInterpolation">

<p [ngClass]="{redBorder: true}" > Is this is styled?</p>

<p [ngClass]="{redBorder: onTest()}" > Is this is styled?</p>

<p [ngStyle]="{color: 'blue'}" > Is this is styled?</p>

<h3> Custom property binding </h3>

<app-property-binding [result]="10"> </app-property-binding>
<h3>Event Binding !</h3>
<app-event-binding (clicked)="onClicked($event)"> <app-event-binding>
